/* main card container */
.imageCard{
    height: 225px;
    width: 200px;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient( 135deg, #c6dded 10%, #4f97cb 100%);
    padding: 5px;
    border-radius: 5px;
    font-weight: 500;
    margin: 10px;
    box-shadow: 0px 2px 4px -2px lightgrey;
}

.imageCard:hover{
    background-image: linear-gradient( 135deg, #489ad5 10%, #736EFE 100%);
}

/* on any error in loading image it will show a background image */
.imageBox{
    width: 100%;
    height:100%;
    overflow: hidden;
    background-image: url("../../assets/images/warning.png");
    background-size: cover;
    background-color: white;
}

.imageBox img{
    /* width: 100%; */
    /* height: 80%;
    object-fit: cover; */
    width: 100%;
    height: 100%;
}

/* image info */
.imageInfo{
    width: 100%;
    height: 25px;
    color: white;
}


/* button inside image card  */
.imageBtn{
    display: none;
    float: right;
    margin: 4px;
    margin-top: 5px;
    border-radius:none;
    color: white;
}

/* delete button */
.deleteBtn{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-image: url("../../assets/images/trash-bin.png");
    background-size: cover;
    border: none;
}

/* update button  */
.editBtn{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-image: url("../../assets/images/edit.png");
    background-size: cover;
    border: none;
}

/* showing buttons on hovering */
.imageCard:hover .imageBtn{
    display: inline;
}


